<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta content="text/html;charset=UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet"/>
</head>
<body>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">访问model</h3>
    </div>
    <div class="panel-body">
        <span th:text="${record.name}"></span>
    </div>
</div>
<div th:if="${not #lists.isEmpty(recordList)}">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">列表</h3>
        </div>
        <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item" th:each="r : ${recordList}">
                    <span th:text="${r.name}"></span>
                    <span th:text="${r.id}"></span>
                    <button class="btn" th:onlick="'getName(\''+${r.name}+'\');'">获得名字</button>
                </li>
            </ul>
        </div>
    </div>
</div>
<pre>
<a href="/hi" target="reqiframe">负载均衡访问服务</a>
<hr>
<iframe name="reqiframe" style="width: 900px;height: 200px"></iframe>
</pre>
<script th:src="@{/ext/jquery.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script th:inline="javascript">
    var single = [[${singlePerson}]];
    console.log(single.name+"/"+single.age);
    function getName(name) {
        console.log(name);
    }
</script>
<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title></title>-->
<!--</head>-->
<!--<body>-->
<!--</body>-->
<!--</html>-->
</body>
</html>