<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta content="text/html;charset=UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/bootstrap-theme.min.css}" rel="stylesheet"/>
</head>
<body>
<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">记录列表</h3>
        </div>
        <div class="panel-body">

            <div style="width: 100%">
                <div style="float: left;width: 400px;display: inline-block;">
        <pre>
        <form target="reqiframe" method="post" action="/record/create" enctype="application/x-www-form-urlencoded">
        创建：    Name:<input name="name" placeholder="name"><button type="submit">创建</button>
        </form>
        <form target="reqiframe" method="get" action="/record/get" enctype="application/x-www-form-urlencoded">
        查询：    ID:<input name="id" placeholder="ID"><button type="submit">获取</button>
        </form>
        <a href="/records" target="reqiframe">记录列表</a>
        <a href="/hi" target="reqiframe">负载均衡访问服务aaa</a>
            </pre>
                </div>
                <div style="float: left;width: 700px;display: inline-block">
        <pre><iframe name="reqiframe" style="width: 900px;height: 400px;border: 0"></iframe>
        </pre>
                </div>
            </div>
        </div>
    </div>
</div>
</pre>
<script th:src="@{/ext/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:inline="javascript">
    var single = [[${singlePerson}]];
    console.log(single.name+"/"+single.age);
    function getName(name) {
        console.log(name);
    }
</script>
<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title></title>-->
<!--</head>-->
<!--<body>-->
<!--</body>-->
<!--</html>-->
</body>
</html>