<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta content="text/html;charset=UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/bootstrap-theme.min.css}" rel="stylesheet"/>
</head>
<body>
<div th:if="${not #lists.isEmpty(recordList)}">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">记录列表</h3>
        </div>
        <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item" th:each="r : ${recordList}">
                    <span class="label label-info" th:text="${r.id}"></span>
                    <span class="label label-success" th:text="${r.name}"></span>
                    <button class="btn btn-success" th:onlick="'getName(\''+${r.name}+'\');'">获得名字</button>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>